# Ignore macOS file in there
.DS_Store

# Ignore compile files by VS code studio
**/*.dSYM/
.vscode/

# Ignore all dSYM folders and their contents
**/*.dSYM/**
**/HMM_isoform.dSYM/**
**/isoform_count.dSYM/**
**/isoform.dSYM/**